# Các file cache và cấu hình cá nhân của Visual Studio
*.csproj.lscache
*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj
*.sln
*.csprk.lscache

# Các thư mục biên dịch sinh ra tự động
bin/
obj/
.vs/